@charset "UTF-8";

/* 
  em HTML é id e CSS é # (só pode um elemento)
  em HTML é class e em CSS é . (pode vários elementos)
*/

body {
  background-color: rgb(205, 255, 203);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(14, 43, 13);
}

#principal {
  text-align: center;
  background-color: rgb(26, 56, 25);
  color: white;
}

h2 {
  color: rgb(48, 109, 46);
}

.basico {
  color: rgb(48, 109, 46);
  font-weight: bold;
}

.intermediario {
  color: rgb(112, 112, 45);
}

.avancado {
  color: rgb(184, 34, 34);
}

.destaque {
  background-color: rgba(105, 105, 27, 0.63);
}
