@charset "UTF-8";

* {
  font-family: Arial, Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #9aeba3, #dafdba);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(1, 29, 43, 0.322);
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #012030;
  text-align: center;
  text-shadow: 1px 1px 0 #01162085;
}

h2 {
  color: #13678a;
}

p {
  text-align: justify;
}

